.venv
logs/
# Byte-code files
*.pyc
__pycache__/
**/__pycache__/

# Distribution / packaging
.Python
.python-version
build/
dist/
*.egg-info/
.eggs/

# Environments
.env/
venv/
env/
*.venv/

# IDEs and Editors
.idea/
.vscode/
*.swp
*~
.DS_Store # macOS specific

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and data
*.log
*.sqlite3
data/
media/

9b5ad71b2ce5302211f9c61530b329a4922fc6a4